.galleryCont {
  position: relative;
  width: 1400px;
  height: auto;
  overflow: hidden;
  margin: 120px auto; 
  z-index: 111;
  padding: 0 0;
}

#side {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: visible; 
  min-width: 1280px;
}

.side2 { 
  position: fixed;
  width: 430px;
  text-align: center;
  top: 400px;
  right: -120px;   
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.s_line {
  display: inline-block;
  width: 130px;
  border-top: 1px solid #ffffff;
  vertical-align: middle;
  margin: 0 -40px;
}

.gallery {
  width: 100%;
}

.galleryList {
  display: flex;
  justify-content: center;
  max-width: 1400px;
  margin: 80px auto;
  gap: 0;
  box-sizing: border-box;
}

.galleryList ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 한 줄 10개 */
  gap: 10px;
  padding: 0;
  margin-bottom: 150px;
  list-style: none;
}

.galleryList li {
  width: 100%;
}

.galleryList li button {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.galleryList img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
