.galleryCont {
  position: relative;
  width: 1400px;
  height: auto;
  overflow: hidden;
  margin: 120px auto; 
  z-index: 111;
  padding: 0;
  background: #0e1726;
}

/* 컨테이너 */
.galleryCont.gallery .galleryList {
  display: flex;
  gap: 0;
  justify-content: center;
  max-width: 1400px;
  margin: 80px auto;
  height: auto;
  box-sizing: border-box;
}

.galleryList ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 한 줄 10개 */
  gap: 10px;
  padding: 0;
  margin-bottom: 150px;
  list-style: none;
}

.galleryList li {
  width: 100%;
}

.galleryList li button {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.galleryList img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
