/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -ms-interpolation-mode: bicubic;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1080px; /* 고정된 높이 */
  overflow: hidden; /* 스크롤 제거 */
  background-color: #0e1726;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
caption,
input,
textarea,
button {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  background-color: #0e1726;
  font-family: 'Spoqa Han Sans', sans-serif;
}

textarea:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

fieldset,
img {
  border: 0 none;
}

th,
td {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  empty-cells: show;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}

.link:hover {
  color: #009be6 !important;
  text-decoration: underline !important;
}

/* safari */
.saf caption {
  display: none;
}

.saf .tblBasic th,
.saf .tblBasic td,
.saf .tblList td,
.saf .tblBasic_preview th,
.saf .tblBasic_preview td,
.saf .tblList_preview td {
  height: auto;
}

/* lang */
.en {
  font-family: 'Montserrat';
}

.ko {
  font-family: 'Spoqa Han Sans', sans-serif;
}

/* Layout */
#wrap {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 1080px;
  min-width: 1440px;
  overflow: hidden;
}

/* main wrap height */
#wrap.main_wrap {
  height: 768px;
}

#wrap::-webkit-scrollbar {
  display: none;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
  z-index: 1000;
}

#header .logo img,
#header .menu img {
  width: 40px;
  cursor: pointer;
}

#header.sub_hd {
  height: 120px;
  z-index: 9990000;
}

#header.active {
  z-index: 99;
  border-bottom: 1px solid #e2e2e2 !important;
  background-color: #fff;
}

#header.profile_hd {
  background: none;
}

#header.main_hd {
  background: none !important;
}

/*menu mouse over color*/
.gnb_list li a:hover {
  letter-spacing: 0.1em;
}

/*active gnb menu body*/
body.active #header {
  position: fixed;
  border-bottom: 0 !important;
}

body.active .menu {
  width: 40px;
  height: 40px;
  background-size: contain;
}

body.active .menu_sub {
  width: 40px;
  height: 40px;
  background-size: contain;
}

body.active .gnb {
  visibility: visible;
  height: 100%;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* GNB Header */
.gnb-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 40px 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gnb-header .menu_close img {
  width: 30px;
}

/* GNB Menu */
.gnb::-webkit-scrollbar {
  display: none;
}

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease;
  z-index: 88888;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gnb.open {
  height: 100vh;
  overflow-y: auto;
}

.gnb_list {
  position: absolute;
  width: 302px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: 0.3s margin-top ease-in-out;
}

.gnb_list li {
  vertical-align: top;
  margin: 35px 0;
}

.gnb_list li a {
  display: inline-block;
  font-size: 30pt;
  font-weight: 500;
  line-height: 35px;
  transition: 0.1s letter-spacing, 2s opacity;
  color: #333;
  font-family: 'Montserrat';
  letter-spacing: 0.05em;
}

.gnb_list li a:hover {
  letter-spacing: 0.1em;
}

body.active {
  position: fixed;
  width: 100%;
}

/* common - title text */
.title {
  position: relative;
  text-align: center;
  top: 0;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-size: 40pt;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.05em;
}

/* common - pagenation */
.page-btn-box {
  position: relative;
  text-align: center;
}

.page-btn-box.nt_bt {
  position: relative;
  float: right !important;
}

.page-btn-box .prev-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 1px;
  color: transparent;
  overflow: hidden;
  vertical-align: middle;
}

.page-btn-box .prev-btn img,
.page-btn-box .next-btn img {
  width: 100%;
}

.page-btn-box .page-number {
  display: inline-block;
  padding: 0 30px;
  color: #fff;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  letter-spacing: 0;
}

.page-btn-box .next-btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 1px;
  color: transparent;
  overflow: hidden;
  vertical-align: middle;
}

/* Footer */
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px 40px;
  text-align: right;
  z-index: 1000;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.q {
  color: #fff;
}
.w {
  color: #ff4edb;
}
.e {
  color: #00a8ff;
}
.r {
  color: #00c853;
}

/* SNS Menu */
.sns-menu {
  position: static;
  bottom: 40px;
  left: 20px;
  z-index: 9999;
}

.sns-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.sns-menu li {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: margin-left 0.3s ease;
}

.sns-menu li:hover {
  transform: translateX(4px);
}

.sns-menu li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sns li.tp1,
.sns_menu li.tp1 {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

/* Main */
.main_vd {
  width: 100vw;
  height: calc(100% - 220px);
}

.main_bgimg {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main_bgimg img {
  width: 100%;
}

/* main-right album text */
.right_cont {
  position: absolute;
  width: 750px;
  right: 4%;
  top: 23%;
  z-index: 11;
}

.main_album {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #fff;
  text-align: right;
}

.main_album .main_album_name {
  width: 100%;
  overflow: hidden;
  cursor: default !important;
  display: -webkit-box;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main_album .main_album_name a {
  display: inline-block;
  color: #fff;
  font-size: 60pt;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 20px;
  word-break: keep-all;
}

.main_album .main_title_name {
  width: 80%;
  float: right;
  overflow: hidden;
  cursor: default !important;
  display: -webkit-box;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.main_album .main_title_name a {
  display: inline-block;
  color: #fff;
  font-size: 30pt;
  letter-spacing: 1px;
  font-weight: 300;
  margin-right: 5px;
  cursor: pointer;
}

.main_line {
  position: relative;
  width: 170px;
  float: right;
  margin-top: 80px;
  border-bottom: 1px solid #fff;
  margin-right: 15px;
  margin-bottom: 50px;
}

.main_notice {
  position: relative;
  width: 60%;
  color: #fff;
  text-align: right;
  float: right;
}

.main_notice .main_n_tt a {
  font-family: 'Montserrat';
  font-size: 14pt;
  font-weight: 400;
  margin-right: 15px;
  color: #fff;
}

.main_notice .main_n_stt {
  font-size: 10pt;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 10px;
  display: -webkit-box;
  white-space: normal;
  height: 40px;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main_notice .main_n_stt a {
  color: #fff;
  letter-spacing: 0.5px;
}

/* common - right side text */
#side {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 1280px;
  max-width: 10px;
}

#side .side2 {
  position: fixed;
  width: 380px;
  text-align: center;
  top: 400px;
  right: -120px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#side .side2 span {
  display: inline-block;
  width: 130px;
  border-top: 1px solid #ffffff;
  vertical-align: middle;
  margin: 0 25px;
}

/* 에러페이지 */
.errorpage {
  position: absolute;
  width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.errorbox {
  margin: 0 auto;
  font-family: 'NanumSquare';
  text-align: center;
}

.errorbox .error_img {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 100px;
  margin-bottom: 20px;
}

.errorbox .txt01 {
  font-size: 24px;
  font-weight: 700;
  line-height: 39px;
  color: #333;
}

.errorbox .txt02 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 400;
  color: #504c4c;
}

.errorbox .btnText {
  margin-top: 50px;
  width: 143px;
  height: 56px;
  font-size: 17px;
  line-height: 54px;
  border: 1px solid #333;
}

.btnText {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  min-width: 78px;
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/*링크 css*/
.play_link > .svg-icon {
  opacity: 0;
  transition: opacity 1s;
}

.play_link:hover > .svg-icon {
  opacity: 1;
}

@media only screen and (max-width: 1770px) {
  .right_cont {
    width: 600px;
  }

  .main_album .main_album_name a {
    font-size: 55px;
  }
}

@media only screen and (max-width: 1440px) {
  #side {
    display: none;
  }

  .main_album .main_album_name a {
    font-size: 50pt;
  }

  .main_album .title a {
    font-size: 28pt;
  }

  .gnb_list {
    width: 280px;
  }

  .gnb_list li a {
    font-size: 24pt;
    line-height: 30px;
  }

  .right_cont {
    width: 450px;
  }

  .main_notice .main_n_tt a {
    font-size: 14pt;
  }

  .main_notice .main_n_stt {
    font-size: 10pt;
  }

  .main_album .main_title_name a {
    font-size: 24pt;
  }

  .main_line {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  #header {
    position: absolute;
  }

  #header.main_hd {
    background: none;
  }
}

/* ----------------------------- */
/* Mobile Styles */
@media screen and (max-width: 768px) {
  /* Reset */
  html,
  body {
    height: 100%;
    -webkit-text-size-adjust: none;
  }

  body,
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  code,
  form,
  fieldset,
  legend,
  textarea,
  p,
  blockquote,
  th,
  td,
  caption,
  input,
  textarea,
  button {
    margin: 0;
    padding: 0;
  }

  body,
  button,
  input,
  select,
  textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: #fff;
    font-family: 'Spoqa Han Sans', sans-serif;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  fieldset,
  img {
    border: 0 none;
  }

  dl,
  ul,
  ol,
  menu,
  li {
    list-style: none;
  }

  address,
  caption,
  cite,
  code,
  dfn,
  em,
  var {
    font-style: normal;
  }

  button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a,
  button,
  input,
  select,
  textarea,
  label {
    -webkit-tap-highlight-color: transparent;
  }

  #wrap {
    display: block;
    overflow: auto;
  }

  /* Header */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    z-index: 1000;
  }

  #header .logo img,
  #header .menu img {
    width: 30px;
    cursor: pointer;
  }

  #header.sub_hd {
    height: 80px;
    z-index: 9990000;
  }

  body.active .menu {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  body.active .menu_sub {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

  /* GNB Header */
  .gnb-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .gnb-header .menu_close img {
    width: 25px;
  }

  .gnb_list {
    padding: 80px 15px 0;
    transition: 0.3s margin-top ease-in-out;
  }

  .gnb_list li {
    height: 30px;
    vertical-align: top;
  }

  .gnb_list a {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    transition: 0.3s letter-spacing, 2s opacity;
    color: #333;
    font-family: 'Montserrat';
  }

  .gnb_link {
    padding: 15px 40px 30px 40px;
  }

  .gnb_link li {
    height: 24px;
    vertical-align: top;
  }

  .gnb_link a {
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 30px;
    color: #333;
  }

  /* Wrap */
  #wrap {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 280px;
    min-height: 100vh;
    margin: 0 auto;
  }

  body.active {
    position: fixed;
    width: 100%;
  }

  body.active #header {
    position: fixed;
    border-bottom: 0 !important;
  }

  body.active .gnb {
    overflow: scroll;
    visibility: visible;
    height: 100%;
    opacity: 1;
  }

  /* main - album title */
  .right_cont_m {
    position: absolute;
    width: 80%;
    right: 30px;
    bottom: 14%;
    z-index: 4;
  }

  .main_album_m {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #fff;
    text-align: right;
  }

  .main_album_m .main_album_tt {
    width: 100%;
    margin-top: 15px;
  }

  .main_album_m .main_album_tt a {
    color: #fff;
    font-size: 22pt;
    letter-spacing: 1.5px;
    font-weight: 700;
    line-height: 40px;
  }

  .main_album_m .title_m {
    margin-top: 10px;
  }

  .main_album_m .title_m a {
    color: #fff;
    font-size: 15pt;
    letter-spacing: 1px;
    font-weight: 100;
    margin-right: 2px;
    margin-top: 10px;
  }

  /*page*/
  .page-btn-box-m {
    text-align: center;
    margin: 30px 0 0 0;
  }

  .page-btn-box-m .page-number {
    display: inline-block;
    padding: 0 30px;
    color: #393939;
    font-size: 15px;
    height: 21px;
    line-height: 21px;
    vertical-align: middle;
    letter-spacing: 0;
  }

  .page-btn-box-m .prev-btn,
  .page-btn-box-m .next-btn {
    display: inline-block;
    width: 11px;
    height: 21px;
    color: transparent;
    overflow: hidden;
    vertical-align: middle;
  }

  .page-btn-box-m .prev-btn img,
  .page-btn-box-m .next-btn img {
    width: 100%;
  }

  /* Contents- top title */
  .container {
    padding: 50px 0;
    position: relative;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }

  .m_title {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22pt;
    font-family: 'Montserrat';
    font-weight: 200;
    letter-spacing: 0.05em;
  }

  .m_title.gallery {
    margin-bottom: 0;
  }

  #footer {
    padding: 20px;
    text-align: center;
    background-color: #353535;
  }

  .footer-inner {
    flex-direction: column;
    gap: 15px;
  }

  .copyright {
    font-size: 12px;
    line-height: 14px;
  }

  .sns-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 0;
    margin: 0;
  }

  .sns-menu li {
    width: 15px;
    height: 15px;
  }

  .sns-menu li:hover {
    transform: translateX(2px);
  }
  .sns li.tp1,
  .sns_menu li.tp1 {
    width: 15px;
    height: 15px;
    vertical-align: bottom;
  }

  .sns-menu li img {
    width: 100%;
  }

  #main-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 100px;
    overflow: auto;
  }

  .main-image {
    max-height: 60vh;
  }

  #header.main_hdat.active {
    background: none;
    border-bottom: none;
  }
}
