.ntCont {
  position: relative;
  width: 1400px;
  height: auto;
  overflow: hidden;
  margin: 120px auto; 
  z-index: 111;
  padding: 0 0;
}

#side {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: visible; 
  min-width: 1280px;
}

.side2 { 
  position: fixed;
  width: 430px;
  text-align: center;
  top: 400px;
  right: -120px;   
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 14pt;
  letter-spacing: 0.1em;
  color: #ffffff;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.s_line {
  display: inline-block;
  width: 130px;
  border-top: 1px solid #ffffff;
  vertical-align: middle;
  margin: 0 -40px;
}

.boardView {
  position: relative;
  width: 1100px;
  height: auto;
  overflow: hidden;
}

.boardView_header {
  width: 96%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 30px 2%;
  margin-top: 20px;
  border-top: 2px solid #fff;
  border-bottom: 1px solid #ccc;
}

.boardView_header p {
  float: left;
}

.boardView_header .cate {
  font-size: 11pt;
  text-align: center;
  height: 100%;
  line-height: 28px;
  overflow: hidden;
  margin-right: 20px;
  word-break: keep-all;
}

.boardView_header .tit {
  width: 82%;
  font-size: 13pt;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.boardView_header .date {
  font-size: 10pt;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-align: right;
  float: right;
}

.boardView_cont {
  width: 85%;
  height: auto;
  overflow: hidden;
  padding: 50px 7.5%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  background-color: #fcfcfd;
  border-bottom: 1px solid #ccc;
}

.boardView_cont .bd_img {
  width: 100%;
  margin: 0 auto;
}

.boardView_cont .bd_img img {
  width: 100%;
}

.boardView_cont .bd_txt {
  width: 100%;
  margin: 30px auto 0;
  text-align: center;
  font-size: 10pt;
  line-height: 25px;
}

.boardView_next {
  position: relative;
  padding: 30px 2%;
  width: 96%;
  border-bottom: 1px solid #ccc;
  height: auto;
  overflow: hidden;
}

.boardView_next p {
  float: left;
}

.boardView_next .cate {
  font-weight: bold;
  width: 10%;
}

.boardView_next .tit {
  width: 90%;
  font-size: 12pt;
  overflow: hidden;
}
